* {
   padding: 0; 
   margin: 0;
   box-sizing: border-box;
}

body {
    background: #f3f5f8;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Montserrat;
}

.wrapper {
    background: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-photo {
    width: 370px;
}

.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.contacts-tittle {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px; 
    color: #ffffff;
    margin-bottom: 20px;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #69707b;
}

.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
}

.tech-skills-tittle {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.tech-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #ff6b08;
}

.tech-skills-text {
    color: #9da1a8;
}

.soft-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.soft-skills-tittle {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.soft-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #ff6b08;
}

.soft-skills-text {
    color: #9da1a8;
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}

.name {
    font-size: 35px;
    font-weight: 700;
    line-height: 89px;
}

.discription{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
    margin-top: 24px;
}

.date-of-birth {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8; 
}

.info-container {
    margin-bottom: 40px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.projects-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.tech-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.dots {
    color: #bebebe;
    width: 318px;
    height: 1px;
}

.projects-item {
    font-weight: 700;
    margin-left: 19px;
}

.project-container {
    margin-bottom: 55px;
}

.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.profession-company {
    color: #ff7213;
}

.profession-time {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8; 
}

.profession-divider {
    color: #000000;
}

.profession-duties {
    margin-top: 14px;
    margin-bottom: 30px;
}

.profession-duties-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
    margin-left: 19px;
}

.courses-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.courses {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
    margin-top: 24px;
}
